# You have to do some trickery for this one.
# http://gis.stackexchange.com/questions/28966/python-gdal-package-missing-header-file-when-installing-via-pip
# GDAL==1.9.1

Shapely==1.2.17
argparse==1.2.1
descartes==1.0
futures==2.1.3
ipython==0.13.1
matplotlib==1.2.1
numpy==1.7.0
# Not yet on PyPi
git+http://github.com/scipy/scipy/@v0.12.0b1
simplejson==3.1.2
wsgiref==0.1.2
